@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.good {
    color: green;
}

.bad {
    color: rgb(204, 20, 20);
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h1,h2{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.skip-link {
    position: absolute;
    top: -400px;
    left: 0;
    background: #007acc;
    color: white;
    padding: 8px;
    z-index: 100;
    text-decoration: none;
    margin: 10px;

    &:focus {
        top: 0;
        left: 0;
        width: auto;
        clip: auto;
    }
}

header {
    background-color: #007acc;
    color: white;
    padding: 1em;

    nav {
        ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            gap: 1em;

            li {
                display: inline-block;
                text-transform: uppercase;
                font-size: 1.2em;

                a {
                    color: white;
                    text-decoration: none;
                    padding: 0.5em;

                        &:hover {
                        border-bottom: solid 1px;
                    }
                }
            }
        }
    }
}

main {
    background: white;
    padding: 2em;

    section {
        display: none;

        &:target {
            display: block;
        }

        
        h1, h2, h3 {
            margin-bottom: 1em;
        }

        h1,h2 {
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }
        h3{
            font-size: 1.5em;
        }
        img {
            width: 100%;
            height: auto;
        }

        picture {
            display: block;
            margin-bottom: 1em;
        }

        p {
            margin-bottom: 1em;
            font-size: 1.1em;
        }

        
    }
    #recomendaciones {
        ul {
            list-style: none;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;

                i {
                    font-size: 1.5em;
                }

                
            }
        }
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;

    .container {
        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-around;
            justify-items: center;
            list-style: none;
            gap: 1em;

            img {
                max-width: 30px;
            }
            

            }
            li {
                display: flex;
                flex-direction: column;

                
                h2{
                    margin-bottom: 2em;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: 1em;
                    align-items: start;
                    
                    li {
                        a {
                            color: white;
                            text-decoration: none;
                            border-bottom: solid 0.1px ;
                            font-size: 1.1em;

                            &:hover{
                                border-bottom: solid 2px ;
                            }
                        }
                    }
                }

                .footer_siguenos_ul{
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }

