@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --primary-blue-color:#6abfe7;
    --secondary-color:#f6e4d27b;
}


:lang(es) .cat, input#es:checked ~ body .cat {
    display: none;
}

:lang(cat) .es, #cat:target ~ .es {
    display: none;
}

body {
    background-image: url(../img/background.png);
    background-size: cover;
    .WL{
        max-width: 1000px;
        margin: 0 auto;
    }
    
    h2{
        font-family: "Amita", serif;
        font-weight: 400;
        font-style: normal;
    }
  
}

header {
    .header_bg {
        width: 100%;
    }

    .header_logo {
        width: 100%;
        width: 20vw;
        position: absolute;
        left: 4vw;
        top: 4vw;

        @media (max-width: 600px) {
            width: 25vw;
            left: 65vw;
        }
    }

    .dropLang__container {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;

        input[type="checkbox"] {
            display: none;
        }

        .current-lang {
            cursor: pointer;
            img {
                width: 30px;
                height: auto;
                border-radius: 50%;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
        }

        .dropdown {
            position: absolute;
            top: 50px;
            right: 0;
            display: none;
            background-color: white;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;

            .dropdown-content {
                display: flex;
                flex-direction: column;

                a {
                    padding: 10px 15px;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: black;
                    font-size: 16px;

                    &:hover {
                        background-color: #f1f1f1;
                    }

                    img {
                        width: 20px;
                        height: auto;
                        margin-right: 10px;
                    }
                }
            }
        }

        input[type="checkbox"]:checked + .current-lang + .dropdown {
            display: block;
        }
    }
}


main {
    

    .Destinacions_section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        justify-content: center;
        text-wrap: wrap;

        .Destinacions_section_h2 {
            text-align: center;
            padding-top: 8vh;
            grid-column-start: 1;
            grid-column-end: -1;
            font-family: "Amita", serif;

            span {
                font-family: "Amita", serif;
                font-weight: 400;
                font-style: normal;
                font-size: 3.5vw;
            }
        }

        h2{
            font-family: "Amita", serif;
            text-align: center;
        }    
        
        img{
            width: 100%;
        }
    }


    .Servicios_section{
        background-color: var(--secondary-color);

        .Servicios_section_container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;
            justify-content: center;
    
            .Servicios_section_h2 {
                text-align: center;
                padding-top: 8vh;
                grid-column-start: 1;
                grid-column-end: -1;
                color: var(--primary-blue-color);
                span {
                    font-family: "Amita", serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 3.5vw;
                }
            }

            article{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
                padding: 20px;
                img{
                    width: 100px;
                }

                h2{
                    color: var(--primary-blue-color);
                    font-family: "Amita", serif;
                    
                }
            }
        }
    

        }

    .QuiSom_section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        align-items: center;
        padding: 70px;

        h2{
            text-align: center;
            grid-column: 1/span 2;
            font-family: "Amita", serif;

            
            
        }

        img{
            border-radius: 50%;
            width: 100%;
        }

        p{
            
        }
    }
}

footer {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-blue-color);
    font-size: 3.5vw;

}